<body>
<div *ngIf="!loggedIn && !isChange" style="margin: 0% auto 0;">
  <img src="../favicon.ico"><h1 class="text text-danger">Car Rental Franchise</h1>
</div>

  <form  *ngIf="!loggedIn && !isChange" style="margin-top: 10%;">
    <div class='container-fluid'>

      <div class='row'>
        <div class='well center-block'>
          <div class='well-header'>
            <h3 class='text-center text-success'> Login</h3>
            <hr>
          </div>
  
          <div class='row'>
              <div class='col-md-12 col-sm-12 col-xs-12'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class='glyphicon glyphicon-user'></i>
                    </div>
                    <input type='text' placeholder="Staff / ID number" [(ngModel)]="username" name='code' class='form-control' [disabled]="second">
                    
                  </div>
                </div>
              </div>
            </div>	


          <div class='row'>
              <div class='col-md-12 col-sm-12 col-xs-12'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class='glyphicon glyphicon-user'></i>
                    </div>
                    <input type='password' placeholder='Password' [(ngModel)]="password" name='code' class='form-control'>
                  </div>
                </div>
              </div>
            </div>	  
          <div class='row widget'>
            <div class='col-md-12 col-xs-12 col-sm-12'>
              <button class='btn btn-warning btn-block' (click)="login()"> Login </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <form  *ngIf="isChange" style="margin-top: 10%;">
    <div class='container-fluid'>

      <div class='row'>
        <div class='well center-block'>
          <div class='well-header'>
            <h3 class='text-center text-success'> Change Password</h3>
            <hr>
          </div>
  
          <div class='row'>
              <div class='col-md-12 col-sm-12 col-xs-12'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class='glyphicon glyphicon-user'></i>
                    </div>
                    <input type='password' placeholder="Current Password" [(ngModel)]="oldPassword" name='code' class='form-control'>
                    
                  </div>
                </div>
              </div>
            </div>	


          <div class='row'>
              <div class='col-md-12 col-sm-12 col-xs-12'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class='glyphicon glyphicon-user'></i>
                    </div>
                    <input type='password' placeholder='New Password' [(ngModel)]="newPassword" name='code' class='form-control'>
                  </div>
                </div>
              </div>
            </div>	  

            <div class='row'>
              <div class='col-md-12 col-sm-12 col-xs-12'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-addon'>
                      <i class='glyphicon glyphicon-user'></i>
                    </div>
                    <input type='password' placeholder='Confirm New Password' [(ngModel)]="newPassword2" name='code' class='form-control'>
                  </div>
                </div>
              </div>
            </div>	  
          <div class='row widget'>
            <div class='col-md-12 col-xs-12 col-sm-12'>
              <button class='btn btn-warning btn-block' (click)="changePassword()"> Change Password </button>
              <button class='btn btn-warning btn-block' (click)="cancel()"> Cancel </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  


  <div id='wrapper' class='animate' *ngIf="loggedIn">
    <nav class='navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark'>
      <img src="../favicon.ico"><a class='navbar-brand' href='#'>Car Rental Franchise</a>
      <h6 class="text text-success">Our vision: To inspire safety trips by connecting people to real vehicles.</h6>
      <div class='collapse navbar-collapse' id='navbarText'>
        <ul class='navbar-nav animate side-nav'>
          <li class='nav-item' *ngIf="user.jobCode=='SP'">
            <a class='nav-link' href="#" routerLink="employees">Employees</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='SP'">
            <a class='nav-link' href="#" routerLink="carTypes">Car Types</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='SP'">
            <a class='nav-link'  href="#" routerLink="cars">Cars</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='SP'">
            <a class='nav-link'  href="#" routerLink="cars">Reports</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='DO'">
            <a class='nav-link'  href="#" routerLink="clients">New Client</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='DO'">
            <a class='nav-link'  href="#" routerLink="pickup">Pick Up</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='DO'">
            <a class='nav-link'  href="#" routerLink="pay">Process Payment</a>
          </li>
          <li class='nav-item' *ngIf="user.jobCode=='DO'">
            <a class='nav-link'  href="#" routerLink="re">Receive</a>
          </li>
        </ul>
        <ul class='navbar-nav ml-md-auto d-md-flex'>
          <li class='nav-item' (click)="change()" *ngIf="user.jobCode=='DO'">
            <a class='nav-link' href='#'><i class='fas fa-user' ></i> Change Password</a>
          </li>
          <li class='nav-item' (click)="logout()">
            <a class='nav-link' href='#'><i class='fas fa-key'></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <router-outlet></router-outlet>
  <ng-snotify></ng-snotify>
</body>